* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #111;
    font-family: "Mona Sans", sans-serif;
}

main {
    max-width: 1300px;
    margin: auto;
    padding: 60px 20px;
}

.hero {
    text-align: center;
    margin-bottom: 70px;
}

.hero h1 {
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 35px;
    letter-spacing: -3px;
    color: rgb(47, 47, 47);
}

.hero p {
    color: #555;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 25px;
    line-height: 23px;
}

.hero button {
    padding: 12px 26px;
    background: rgb(47, 47, 47);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.pricing {
    display: flex;
    gap: 25px;
    margin-bottom: 90px;
}

.card {
    flex: 1;
    border: 1px solid #e1e4e8;
    border-radius: 14px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 40px 40px rgba(90, 91, 95, 0.28);
    text-align: center;
}

.card h2 {
    margin-bottom: 8px;
    text-align: center;
}

.card p {
    text-align: center;
    color: #6f6f6f;
    font-size: 14px;
}

.price {
    font-size: 36px;
    margin: 15px 0;
    text-align: center;
}

.typefree  {
    align-items: center;
    justify-content: center;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
    background-color: white;
    color: black;
    border: 1px solid rgb(142, 142, 142);
    text-decoration: none;
}

.typeteam {
    align-items: center;
    justify-content: center;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
    background: rgb(47, 47, 47);
    color: white;
}

.typeenterprice {
    gap: 12px;
    align-items: center;
}

.enterprise {
    border: 6px solid #2f81f7;
    border-top: 13px solid #2f81f7;
}

.badge {
    background: #2f81f7;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 10px;
}

.addon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.addon-card {
    border: 1px solid #e1e4e8;
    border-radius: 14px;
    padding: 50px 30px;
    box-shadow: 3px 10px 10px rgba(121, 121, 121, 0.1);
}

.addon-card h3 {
    margin-bottom: 20px;
}

.addon-card p {
    color: #797878;
    font-size: 17px;
    line-height: 23px;
}

@media (max-width: 900px) {

    .pricing {
        flex-direction: column;
    }

    .addon-grid {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 32px;
    }
}

#additional-addons {
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 70px;
    margin-top: -30px;
    letter-spacing: -3px;
    color:rgb(47, 47, 47);
}

.urban-black {
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
    font-size: 48px;
}

.price span, .price sup {
    font-size: 18px;
    font-weight: 500;
    color: rgb(121, 121, 121);
    padding-bottom: 10px;
}

.price strong {
    font-size: 30px;
    font-weight: 400;
    padding-left: 5px;
}

.price {
    font-size: 50px;
}